form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 0.5em;
}

input[type="submit"] {
    padding: 0.5em 1em;
    margin-top: 1em;
}

.char-count {
    font-size: 0.9rem;
    color: #999;
    text-align: right;
}

a:hover {
    text-decoration: none;
    color: white;
}