.barOne{
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 0.7rem;
}

.barTo{
    margin-left: 25rem;
    margin-right: 25rem;
    padding: 0.7rem;
}

.barTr{
    margin-left: 30rem;
    margin-right: 30rem;
    padding: 0.7rem;
}

.barOne{
    animation: flow 5s ease-in-out infinite;
    background: linear-gradient(-60deg, #0066ff, #0057f8, #0099ff);
    background-size: 300%;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }

  @keyframes flow {
      0%{
          background-position: 0 50%;
      }

  50%  {
      background-position: 100% 50%;

  }

  100% {
      background-position: 0 50%;
  }
}

.barTo{
    animation: flow 5s ease-in-out infinite;
    background: linear-gradient(-60deg, #0066ff, #0057f8, #0099ff);
    background-size: 300%;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }

  @keyframes flow {
      0%{
          background-position: 0 50%;
      }

  50%  {
      background-position: 100% 50%;

  }

  100% {
      background-position: 0 50%;
  }
}

.barTr{
    animation: flow 5s ease-in-out infinite;
    background: linear-gradient(-60deg, #0066ff, #0057f8, #0099ff);
    background-size: 300%;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }

  @keyframes flow {
      0%{
          background-position: 0 50%;
      }

  50%  {
      background-position: 100% 50%;

  }

  100% {
      background-position: 0 50%;
  }
}
